<%- include('header'); %>



<div class="textStyles textStylesCapital ">Are you sure you want to abandon the crawl?  
</div>


      
<a class = "button almostBlackButton" href="/delete/<%= user_id %>" class="button" onclick=(deleteUser)>Delete</a>
        <a class = "button greenButton" href="/profile/<%= user_id %>" class="button">Crawl On!</a>


      