<!-- this footer is uniform across all pages of the web app -->

<footer class = "copywrite">
    <div class="footer textStyles textStylesCapital">
        <p class="motto"> Crawl into the weekend </p>
        <p class="copywrite"> &copy; 2022</p>
   
</div>
</footer>
