<!--This Header page is for everypage of the web app other than: Access page, Login and Sign up. -->


<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />  <title>CRAWLSPACE</title>
  <script src="https://kit.fontawesome.com/814fa739f3.js" crossorigin="anonymous"></script>
  <!-- below is the link for the image of the hamburger menu-->


  <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="header.js"></script>
  
  <!-- Top Navigation Menu -->
  <div class="topnav">
    <a href="/home" class="active" ><h1 class="crawlspace crawlspaceHome">CRAWLSPACE</h1></a>
    
    <!-- Navigation links (hidden by default) -->
    <div id="myLinks" class = "textStyles">
      <a href="/home">Crawls</a>
      <!-- <a href="/myCrawls">My Crawls</a> -->
      <!-- <a href="/crawls">Find a Crawl</a> -->
      <a href="/profile">Profile</a>
      <!-- <a href="/map">Map</a> -->
      <a href="/settings">Settings</a>
      <a href="/contact">Contact</a>
      <a href="/logout">Log out</a>
    </div>
  
    <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <!-- Beer pug icon for drop down menu -->
      <i class="fa-solid fa-beer-mug-empty fa-2xl"></i> 
    
    </a>
  </div>
