<%- include('header'); %>


<body>
<div class = "myFriendsSlider"> 
  <div class="slides myFriends">
    <div id="friend-1" class = "slides myFriends">
      <img id="friend-1"
      src="images/Oli.jpg"
      alt="Friend profile"
      width="65"
      height="65"/>
    </div>
      <div id="friend-2" class = "slides myFriends">
        <img id="friend-2"
        src="images/Kian.png"
        alt="Friend profile"
        width="65"
        height="65"/>
    </div>
    <div id="friend-3" class = "slides myFriends">
      <img id="friend-3"
      src="images/Vi.png"
      alt="Friend profile"
      width="65"
      height="65"/>
  </div>
  <div id="friend-4" class = "slides myFriends">
    <img id="friend-4"
    src="images/EllieDog.png"
    alt="Friend profile"
    width="65"
    height="65"/>
    </div>
    <div id="friend-5" class ="slides myFriends">
      <img id="friend-5"
      src="images/plusIcon.png"
      alt="Friend profile"
      width="25"
      height="25"/>
      </div>

</div>
</div>



        <div class="myCrawlsSlider">
            <label class="textStyles textStylesCapital labels">My crawls</label>
            <div class="slides">
              <div id="slide-1" onclick="location.href='/map';"> 
<!-- Below will have an image of the Otley Run, and clicking on it should take you to map
Although this needs to be done once map is finished and uploaded to the VS code-->
              </div>
              <div id="slide-2"> 
                <div class = "textStyles textStylesSliders"> Harold's stag</div>
              </div>
              <div id="slide-3">
                <div class = "textStyles textStylesSliders"> Gemma's birthday</div>
              </div>
              <div id="slide-4"> 
                <div class = "textStyles textStylesSliders"> Berlin trip</div>
              </div>
              <div id="slide-5"></div>
            </div>
          </div>

          <div class="suggestedCrawlsSlider">
            <label class="textStyles textStylesCapital labels"> Suggested crawls </label>
            <div class="slides">
              <div id="slide-11">
                <img id="slide-11" class="suggstedSlides"
                src="images/UK.png"
                alt="Image of the flag of the United Kingdom"
                width="240"
                height="215"/>
              </div>
              <div id="slide-12">
                <img id="slide-12" class="suggestedSlides"
                src="images/NL.png"
                alt="Image of the flag of the Netherlands"
                width="240"
                height="215"/>
              </div>
              <div id="slide-13">
                <img id="slide-13" class="suggestedSlides"
                src="images/Germany.png"
                alt="Image of the flag of Germany"
                width="240"
                height="215"/>
              </div>
              <div id="slide-14">
                <img id="slide-14" class="suggestedSlides"
                src="images/Spain.png"
                alt="Image of the flag of Spain"
                width="240"
                height="215"/>
              </div>
              <div id="slide-15">
                <img id="slide-15" class="suggestedSlides"
                src="images/Italy.png"
                alt="Image of the flag of Italy"
                width="240"
                height="215"/>
              </div>
              <div id="slide-16">
                <img id="slide-16" class="suggestedSlides"
                src="images/France.png"
                alt="Image of the flag of France"
                width="240"
                height="215"/>
              </div>
              <div id="slide-17">
                <img id="slide-17" class="suggestedSlides"
                src="images/CzechR.png"
                alt="Image of the flag of Czech Republic"
                width="240"
                height="215"/>
              </div>
              <div id="slide-18">
                <img id="slide-17" class="suggestedSlides"
                src="images/Sweden.png"
                alt="Image of the flag of Sweden"
                width="240"
                height="215"/>
              </div>
              <div id="slide-19">
                <img id="slide-17" class="suggestedSlides"
                src="images/Austria.png"
                alt="Image of the flag of Austria"
                width="240"
                height="215"/>
              </div>
            </div>
          </div>

</body>
<%- include('footer'); %>
