<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" />
    <script src="cookie.js"></script>
    <!-- <script>
        var today = new Date();
        var expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000); // plus 30 days
        
        document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
          function setCookie(name, value)
          {
            document.cookie=name + "=" + escape(value) + "; path=/; expires=" + expiry.toGMTString();
          }
        function putCookie(form)
                        //this should set the UserName cookie to the proper value;
          {
           setCookie("userName", form[0].username.value);
            return true;
          }
        </script> -->
</head>

<body>

    <div class="homepage">   
        <div class="logo">
              <h1 class="crawlspace">CRAWLSPACE</h1>
    </div>
 
<form class= "loginForm" action="/login" method="post">
<div class="loginContainer">
    <div class ="username">
    <label for="username" class="textStyles textStylesCapital labels"> username</label>
    <input type="text" name="username" class="formInput textStylesInput" placeholder ="Enter your username" required> 
    </div>
    <div class ="password">
    <label for="password" class="textStyles textStylesCapital labels"> password </label>
    <input type="password" name= "password" class="formInput textStylesInput" placeholder="Enter your password" required>
    </div>
</div>

<label for="submit"><input type="submit" class = "button greenButton loginButton" value="Login" onclick="putCookie(document.getElementsByTagName('form'));"></label>

<div class ="forgotPassword">
<a class = "forgotPassword textStyles" href="/?"> Forgot your password?</a>
</div>
</form>
</div>

</body>

<%- include('footer'); %>

</html>