<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"> 
    <link rel="stylesheet" href="main.css" />
    <script src="cookie.js"> </script>
</head>

<body>

<!-- Need to reformat below so that it matches the login page formatting - dunno what's happened with the label spacing -->

    <div class="homepage">   
        <div class="logo">
              <h1 class="crawlspace crawlspaceInput">CRAWLSPACE</h1>
        </div>
        </div>
        <form class="registerForm" action=/signUp method="post">
            <label for="username" class="textStyles textStylesCapital labels"> username </label>
            <input type="text" name="username" id = "username" class="formInput textStylesInput" placeholder="Enter your username" required/> 
            <label for="email" class="textStyles textStylesCapital labels"> email </label>
            <input type="text" name="email" id = "email" class="formInput textStylesInput" placeholder="Enter your email" required/> 
            <label for="Date of Birth" class="textStyles textStylesCapital labels"> date of birth </label>
            <input type="date" name="dob" id ="dob" class="formInput textStylesInput" required/> 
            <label for="password" class="textStyles textStylesCapital labels"> password </label>
            <input type="password" name="password" id ="password" class="formInput textStylesInput" inputmode="numeric" minlength="4" maxlength="6" placeholder = "Enter your password" required> 
            <label for="confirm password" class="textStyles textStylesCapital labels"> confirm password </label>
            <input type="password" name="confirmPassword" id ="confirmPassword" class="formInput textStylesInput" inputmode="numeric" minlength="4" maxlength="6" placeholder = "Confirm password" required> 
            <input type="submit" id="submitSignUp" class = "button greenButton loginButton" value="Get crawling" onclick="putCookie(document.getElementsByTagName('form'));"> 
       </form>

        <%- include('footer'); %>
</body>
</html>